In [ ]:
#TOPIC: String Based Assignment Problem

In [1]:
'''1. Write a program to reverse a string.'''
st=input("Enter any string: ")
rev=st[::-1]
print(rev)

Enter any string:  ABCD

DCBA

In [3]:
'''2. Check if a string is a palindrome.'''
st=input("Enter any string: ")
rev=st[::-1]
if st==rev:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter any string:  ABCBA

Palindrome

In [4]:
'''3. Convert a string to uppercase.'''
st=input("Enter any string: ")
print(st.upper())

Enter any string:  aBc

ABC

In [5]:
'''4. Convert a string to lowercase.'''
st=input("Enter any string: ")
print(st.lower())

Enter any string:  Sandeep MONdal

sandeep mondal

In [7]:
'''5. Count the number of vowels in a string.'''
st=input("Enter any string: ")
input_string = st.lower()
vowels = "aeiou"
vowel_count = 0
for char in input_string:
    if char in vowels:
        vowel_count += 1
print(f"Number of vowels in the string: {vowel_count}")

Enter any string:  aabccdef

Number of vowels in the string: 3

In [8]:
'''Count the number of consonants in a string.'''
st=input("Enter any string: ")
input_string = st.lower()
cons = "bcdfghjklmnpqrstvwxyz"
consonant_count = 0
for char in input_string:
    if char in cons:
        consonant_count += 1
print(f"Number of vowels in the string: {consonant_count}")

Enter any string:  Sandeep

Number of vowels in the string: 4

In [10]:
'''7. Remove all whitespaces from a string.'''
st=input("Enter any string: ")
st2=st.replace(" ","")
print(st2)

Enter any string:  S A N D E E P

SANDEEP

In [16]:
'''8. Find the length of a string without using the `len()` function.'''
st=input("Enter any string: ")
input_string = st.lower()
ltr = "aeioubcdfghjklmnpqrstvwxyz "
count = 0
for char in input_string:
    if char in ltr:
        count += 1
print(f"Length of the string: {count}")

Enter any string:  a bc de

Length of the string: 7

In [20]:
'''9. Check if a string contains a specific word.'''
st=input("Enter any string: ")
word=input("Enter the desired word")
if word in st:
    print("Contains the specific word.")
else:
    print("Does not contains the specific word.")

Enter any string:  deep
Enter the desired word Deep

Does not contains the specific word.

In [23]:
'''10. Replace a word in a string with another word.'''
st=input("Enter any string: ")
word=input("Enter the word to replace: ")
replace=input("Enter the word to be replaced: ")
if st2=st.replace(word,replace):
    print(st2)

Enter any string:  Sandeep
Enter the word to replace:  Deep
Enter the word to be replaced:  Ricky

Sandeep

In [29]:
'''11. Count the occurrences of a word in a string.'''
st=input("Enter any string: ")
word=input("Enter the word: ")
print(f"'{word}' comes {st.count(word)} times")

Enter any string:  Sandeep
Enter the word:  o

'o' comes 0 times

In [32]:
'''12. Find the first occurrence of a word in a string.'''
st=input("Enter any string: ")
word=input("Enter the word: ")
position = st.find(word)
if position != -1:
    print(f"The word '{word}' first occurs at index {position}.")
else:
    print(f"The word '{word}' is not found in the string.")

Enter any string:  Sandeep
Enter the word:  a

The word 'a' first occurs at index 1.

In [33]:
'''13. Find the last occurrence of a word in a string.'''
st = input("Enter any string: ")
word = input("Enter the word: ")
position = st.rfind(word)
if position != -1:
    print(f"The word '{word}' last occurs at index {position}.")
else:
    print(f"The word '{word}' is not found in the string.")

Enter any string:  Sandeep
Enter the word:

The word ' ' last occurs at index 7.

In [35]:
'''14. Split a string into a list of words.'''
st = input("Enter any string: ").split()
print(st)

Enter any string:  Sandeep Mondal Ricky

['Sandeep', 'Mondal', 'Ricky']
<class 'list'>

In [38]:
'''15. Join a list of words into a string.'''
st = input("Enter a list of words using space: ").split()
join = " ".join(st)
print(join)

Enter a list of words using space:  Sandeep Mondal

Sandeep Mondal

In [39]:
'''16. Convert a string where words are separated by spaces to one where words are separated by underscores.'''
st = input("Enter a string with words separated by spaces: ")
underscored_string = st.replace(" ", "_")
print("String with underscores:", underscored_string)

Enter a string with words separated by spaces:  Sandeep Mondal

String with underscores: Sandeep_Mondal

In [42]:
'''17. Check if a string starts with a specific word or phrase. '''
st = input("Enter a string : ")
word = input("Enter a word to check: ")
if st.startswith(word):
    print("Yes starts with",word)
else:
    print("Does not start with",word)

Enter a string with words separated by spaces:  Sandeep
Enter a word to check:  e

Does not starts with e

In [44]:
'''18. Check if a string ends with a specific word or phrase.'''
st = input("Enter a string : ")
word = input("Enter a word to check: ")
if st.endswith(word):
    print("Yes ends with",word)
else:
    print("Does not end with",word)

Enter a string with words separated by spaces:  Sandeep
Enter a word to check:  i

Does not ends with i

In [46]:
'''19. Convert a string to title case (e.g., "hello world" to "Hello World").'''
st = input("Enter a string : ")
stt = st.title()
print(stt)

Enter a string :  sandeep mondal

Sandeep Mondal

In [50]:
'''20. Find the longest word in a string.'''
stt = input("Enter a string : ")
st = stt.split()
longest = max(st,key=len)
print("Longest word: ",longest)

Enter a string :  Sandeep Mondal

Longest word:  Sandeep

In [51]:
'''21. Find the shortest word in a string.'''
stt = input("Enter a string : ")
st = stt.split()
longest = min(st,key=len)
print("Smallest word: ",longest)

Enter a string :  Sandeep Mondal

Smallest word:  Mondal

In [54]:
'''22. Reverse the order of words in a string.'''
st = input("Enter a string : ").split()
rev=st[::-1]
print(" ".join(rev))

Enter a string :  Sandeep MOndal

MOndal Sandeep

In [57]:
'''23. Check if a string is alphanumeric.'''
st = input("Enter any string: ")
if st.isalnum():
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

Enter any string:  @#$

The string is not alphanumeric.

In [61]:
'''24. Extract all digits from a string.'''
num=[]
st = input("Enter any string: ")
for i in st:
    if i.isnumeric():
        num.append(i)
print("Extracted digits: ",num)

Enter any string:  sandeep 2003 mondal 2701

Extracted digits:  ['2', '0', '0', '3', '2', '7', '0', '1']

In [62]:
'''25. Extract all alphabets from a string.'''
'''24. Extract all digits from a string.'''
alpha=[]
st = input("Enter any string: ")
for i in st:
    if i.isalpha():
        alpha.append(i)
print("Extracted alphabets: ",alpha)

Enter any string:  sandeep 2003 mondal 2701

Extracted alphabets:  ['s', 'a', 'n', 'd', 'e', 'e', 'p', 'm', 'o', 'n', 'd', 'a', 'l']

In [64]:
'''26. Count the number of uppercase letters in a string.'''
count=0
st = input("Enter any string: ")
for i in st:
    if i.isupper():
        count+=1
print("number of uppercase alphabets: ",count)

Enter any string:  Sandeep Mondal

number of uppercase alphabets:  2

In [65]:
'''27. Count the number of lowercase letters in a string.'''
count=0
st = input("Enter any string: ")
for i in st:
    if i.islower():
        count+=1
print("number of lowercase alphabets: ",count)

Enter any string:  Sandeep MOndal

number of lowercase alphabets:  10

In [66]:
'''28. Swap the case of each character in a string.'''
st = input("Enter any string: ")
swapped_case_string = st.swapcase()
print("String with swapped case:", swapped_case_string)

Enter any string:  Sandeep Mondal

String with swapped case: sANDEEP mONDAL

In [69]:
'''29. Remove a specific word from a string.'''
st = input("Enter any string: ")
st1 = input("Enter the word/substring to remove: ")
st2 = st.replace(st1,"")
print(st2)

Enter any string:  Sandeep
Enter the word/substring to remove:  d

Saneep

In [72]:
'''30. Check if a string is a valid email address.'''
import re
email = input("Enter an email address: ")
pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
if re.match(pattern, email):
    print("The email address is valid.")
else:
    print("The email address is not valid.")

Enter an email address:  sandeepsandeepsandeepmondal2003@gmail.com

The email address is valid.

In [73]:
'''31. Extract the username from an email address string.'''
email = input("Enter an email address: ")
username = email.split('@')[0]
print("Username:", username)

Enter an email address:  Sandeep@gmail.com

Username: Sandeep

In [82]:
'''32. Extract the domain name from an email address string.'''
email = input("Enter an email address: ")
if "@" in email and "." in email :
    domain = email.split('@')[1]
    print("Domain: ",domain)
else:
    print("Not valid")

Enter an email address:  Sandeep@gmail.in

Domain:  gmail.in

In [86]:
'''33. Replace multiple spaces in a string with a single space.'''
st = input("Enter the string: ").split()
ans = ' '.join(st)
print(ans)

Enter the string:  S an    d   e    e    p

S an d e e p

In [84]:
'''34. Check if a string is a valid URL.'''
import re
url = input("Enter a URL: ")
pattern = r'^(https?://)?(www\.)?[a-zA-Z0-9-]+(\.[a-zA-Z]{2,})+(/.*)?$'
if re.match(pattern, url):
    print("The URL is valid.")
else:
    print("The URL is not valid.")

Enter a string with multiple spaces:  S an    d   e    e    p

String with single spaces: S an d e e p

In [88]:
'''35. Extract the protocol (http or https) from a URL string.'''
st = input("Enter the url: ")
if "://" in st:
    print(st.split("://"))
else:
    print("Invalid")

Enter the url:  http

Invalid

In [89]:
'''36. Find the frequency of each character in a string.'''
st=input("Enter string: ")
frequency={}
for char in st:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1
print("Character frequency:", frequency)

Enter string:  sandeep mondal gg abcd

Character frequency: {'s': 1, 'a': 3, 'n': 2, 'd': 3, 'e': 2, 'p': 1, ' ': 3, 'm': 1, 'o': 1, 'l': 1, 'g': 2, 'b': 1, 'c': 1}

In [99]:
'''37. Remove all punctuation from a string.'''
st=input("Enter string: ")
punc="!#$%&'()*+,-./:;<=>^?@][\_`{|}~"
ans=""
for i in st:
    if i not in punc:
        ans=ans+i
print(ans)

<>:3: SyntaxWarning: invalid escape sequence '\_'
<>:3: SyntaxWarning: invalid escape sequence '\_'
C:\Users\Sandeep\AppData\Local\Temp\ipykernel_7028\1674651146.py:3: SyntaxWarning: invalid escape sequence '\_'
  punc="!#$%&'()*+,-./:;<=>^?@][\_`{|}~"

Enter string:  sandeep@#$

sandeep

In [103]:
'''38. Check if a string contains only digits.'''
st =input("Enter any string: ")
ans = st.isdigit()
if ans:
    print("Contains only digit")
else:
    print("does not contain only digit")

Enter any string:  123d

does not contain only digit

In [ ]:
'''39. Check if a string contains only alphabets.'''
st =input("Enter any string: ")
ans = st.isalpha()
if ans:
    print("Contains only alphabets")
else:
    print("does not contain only alphabets")

In [104]:
'''40. Convert a string to a list of characters.'''
st=input("Enter: ")
l = list(st)
print(l)

Enter:  Sandeep MOndal of Hindmotor

['S', 'a', 'n', 'd', 'e', 'e', 'p', ' ', 'M', 'O', 'n', 'd', 'a', 'l', ' ', 'o', 'f', ' ', 'H', 'i', 'n', 'd', 'm', 'o', 't', 'o', 'r']

In [105]:
'''41. Check if two strings are anagrams.'''
st=input("Enter: ")
st1=input("Enter: ")

if sorted(st)==sorted(st1):
    print("Yes ")
else:
    print("Not")

Enter:  SAndeep
Enter:  sandep

Not

In [108]:
'''42. Encode a string using a Caesar cipher.'''
st = input("Enter a string: ")
shift = int(input("Enter the shift value: "))
encoded_string = ''.join(
    chr((ord(char) - 65 + shift) % 26 + 65) if char.isupper() else
    chr((ord(char) - 97 + shift) % 26 + 97) if char.islower() else char
    for char in st
)
print("Encoded string:", encoded_string)

Enter a string:  Sandeep
Enter the shift value:  4

Encoded string: Werhiit

In [109]:
'''43. Decode a Caesar cipher encoded string.'''
st = input("Enter the encoded string: ")
shift = int(input("Enter the shift value: "))
decoded_string = ''.join(
    chr((ord(char) - 65 - shift) % 26 + 65) if char.isupper() else
    chr((ord(char) - 97 - shift) % 26 + 97) if char.islower() else char
    for char in st
)
print("Decoded string:", decoded_string)

Enter the encoded string:  Werhiit
Enter the shift value:  4

Decoded string: Sandeep

In [ ]:
'''44. Find the most frequent word in a string.'''
st = input("Enter a string: ")
words = st.split()
frequency = {}
for word in words:
    if word in frequency:
        frequency[word] += 1
    else:
        frequency[word] = 1
most_frequent_word = max(frequency, key=frequency.get)
print("Most frequent word:", most_frequent_word)

In [110]:
'''45. Find all unique words in a string.'''
st = input("Enter a string: ")
unique_words = set(st.split())
print("Unique words:", unique_words)

Enter a string:  Sandeep

Unique words: {'Sandeep'}

In [ ]:
'''46. Count the number of syllables in a string.'''
def count_syllables(word):
  vowels = "aeiouy"
  syllables = 0
  for i in range(len(word)):
    if word[i] in vowels:
      syllables += 1
      while i < len(word) - 1 and not word[i+1] in vowels:
        i += 1
  return syllables
word = "hello"
num_syllables = count_syllables(word)
print("Number of syllables:", num_syllables)

In [127]:
'''47. Check if a string contains any special characters.'''
st=input("Enter the string: ")
if st.isalnum() :
    print("Does not contain any special character.")
else:
    print("Contains special character.")

Enter the string:  asndeep#$

Contains special character.

In [134]:
'''48. Remove the nth word from a string.'''
st=input("Enter: ")
n=int(input("Enter the value of n: "))
nw=list(st)
nw.pop(n)
ans=""
for i in nw:
    ans+=i
print(ans)

Enter:  abcdefghijk
Enter the value of n:  2

abdefghijk

In [133]:
'''49. Insert a word at the nth position in a string.'''
st=input("Enter: ")
n=int(input("Enter the value of n: "))
w=input("Enter the word: ")
nw=list(st)
nw.insert(n,w)
ans=""
for i in nw:
    ans+=i
print(ans)

Enter:  abcdefghi
Enter the value of n:  2
Enter the word:  z

abzcdefghi

In [135]:
'''50. Convert a CSV string to a list of lists.'''
def csv_to_list_of_lists(csv_string):
   rows = csv_string.strip().split('\n')
   list_of_lists = [row.split(',') for row in rows]
   return list_of_lists
csv_string = input("Enter the CSV string: ")
result = csv_to_list_of_lists(csv_string)
print("List of lists:", result)

Enter the CSV string:  Sandeep:30

List of lists: [['Sandeep:30']]

In [ ]:
#List Based Practice Problem :

In [1]:
'''1. Create a list with integers from 1 to 10.'''
l=list(range(1,11))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
'''2. Find the length of a list without using the `len()` function.'''
l=input("Enter the elements using space: ").split()
count=0
for i in l:
    count+=1
print("Length of the list: ",count)

Enter the elements using space:  Sandep MOdnal ada fged dd

Length of the list:  5

In [5]:
'''3. Append an element to the end of a list.'''
l=input("Enter the elements using space: ").split()
val=input("Enter the element to append: ")
l.append(val)
print(l)

Enter the elements using space:  Sandeep Mondal
Enter the element to append:  Inda

['Sandeep', 'Mondal', 'Inda']

In [8]:
'''4. Insert an element at a specific index in a list.'''
l=input("Enter the elements using space: ").split()
val=input("Enter the element to append: ")
i=int(input("Enter the index to append: "))
l.insert(i,val)
print(l)

Enter the elements using space:  san deep dal
Enter the element to append:  mon
Enter the index to append:  2

['san', 'deep', 'mon', 'dal']

In [9]:
'''5. Remove an element from a list by its value.'''
l=input("Enter the elements using space: ").split()
val=input("Enter the element to remove: ")
l.remove(val)
print(l)

Enter the elements using space:  sandeep mondal 123 @#!
Enter the element to remove:  123

['sandeep', 'mondal', '@#!']

In [11]:
'''6. Remove an element from a list by its index.'''
l=input("Enter the elements using space: ").split()
val=int(input("Enter the element to remove: "))
l.pop(val)
print(l)

Enter the elements using space:  sandeep mondal 123 @#!
Enter the element to remove:  2

['sandeep', 'mondal', '@#!']

In [13]:
'''7. Check if an element exists in a list.'''
l=input("Enter the elements using space: ").split()
if len(l):
    print("Exists")
else:
    print("Does not exist")

Enter the elements using space:  asdkl asdasd edqewd asdasd frgergf 1321

Exist

In [15]:
'''8. Find the index of the first occurrence of an element in a list.'''
l=input("Enter the elements using space: ").split()
val=input("Enter the element to check: ")
i=l.index(val)
print(i)

Enter the elements using space:  asdkl asdasd edqewd asdasd frgergf 1321
Enter the element to check:  asdasd

1

In [18]:
'''9. Count the occurrences of an element in a list.'''
l=input("Enter the elements using space: ").split()
val=input("Enter the element to check: ")
i=l.count(val)
print(i)

Enter the elements using space:  12 12 12 12 12 123
Enter the element to check:  12

5

In [19]:
'''10. Reverse the order of elements in a list.'''
l=input("Enter the elements using space: ").split()
i=l[::-1]
print(i)

Enter the elements using space:  1211 12 1221 12 12 123

['123', '12', '12', '1221', '12', '1211']

In [20]:
'''11. Sort a list in ascending order.'''
l=input("Enter the elements using space: ").split()
i=sorted(l)
print(i)

Enter the elements using space:  Sandeep Mondal Tann Tannistha ABC A 1234

['1234', 'A', 'ABC', 'Mondal', 'Sandeep', 'Tann', 'Tannistha']

In [22]:
'''12. Sort a list in descending order.'''
l=input("Enter the elements using space: ").split()
i=sorted(l,reverse=True)
print(i)

Enter the elements using space:  Sandeep Mondal Tann Tannistha ABC A 1234

['Tannistha', 'Tann', 'Sandeep', 'Mondal', 'ABC', 'A', '1234']

In [23]:
'''13. Create a list of even numbers from 1 to 20.'''
l=list(range(0,21,2))
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [24]:
'''14. Create a list of odd numbers from 1 to 20.'''
l=list(range(1,21,2))
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [25]:
'''15. Find the sum of all elements in a list.'''
l=list(map(int,input("Enter the elements using space: ").split()))
print(sum(l))

Enter the elements using space:  1 2 3 4 5 6 7 8 9 10

55

In [27]:
'''16. Find the maximum value in a list.'''
l=list(map(int,input("Enter the elements using space: ").split()))
print(max(l))

Enter the elements using space:  13 2 14 10 12

14

In [28]:
'''17. Find the minimum value in a list.'''
l=list(map(int,input("Enter the elements using space: ").split()))
print(min(l))

Enter the elements using space:  13 2 14 10 12

2

In [31]:
'''18. Create a list of squares of numbers from 1 to 10.'''
l=[]
for i in range(1,11):
    l.append(i**2)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
'''19. Create a list of random numbers.'''
import random
num_elements = int(input("Enter the number of random elements: "))
lower_bound = int(input("Enter the lower bound of the random range: "))
upper_bound = int(input("Enter the upper bound of the random range: "))
random_numbers = random.sample(range(lower_bound, upper_bound + 1), num_elements)
print("List of random numbers:", random_numbers)

Enter the number of random elements:  10
Enter the lower bound of the random range:  1
Enter the upper bound of the random range:  40

List of random numbers: [16, 29, 37, 22, 13, 35, 24, 2, 8, 38]

In [35]:
'''20. Remove duplicates from a list.'''
l=input("Enter the elements using space: ").split()
l1=set(l)
l1=list(l1)
print(l1)

Enter the elements using space:  Sandeep MOndal sandeep sANDEEP sandeep

['Sandeep', 'MOndal', 'sandeep', 'sANDEEP']

In [37]:
'''21. Find the common elements between two lists.'''
l1=input("Enter the elements of list 1 using space: ").split()
l2=input("Enter the elements of list 2 using space: ").split()
s1=set(l1)
s2=set(l2)
print(list(s1.intersection(s2)))

Enter the elements of list 1 using space:  sandeep mondal 123 12 111
Enter the elements of list 2 using space:  sandeep mond

['sandeep']

In [38]:
'''22. Find the difference between two lists.'''
l1=input("Enter the elements of list 1 using space: ").split()
l2=input("Enter the elements of list 2 using space: ").split()
s1=set(l1)
s2=set(l2)
print(list(s1.difference(s2)))

Enter the elements of list 1 using space:  sandeep mondal 123 12 111
Enter the elements of list 2 using space:  sandeep mondal

['12', '123', '111']

In [42]:
'''23. Merge two lists.'''
l1=input("Enter the elements of list 1 using space: ").split()
l2=input("Enter the elements of list 2 using space: ").split()
ans=[]
ans.extend(l1)
ans.extend(l2)
print(ans)

Enter the elements of list 1 using space:  sandeep mondal 123 12 111
Enter the elements of list 2 using space:  ABCD

['sandeep', 'mondal', '123', '12', '111', 'ABCD']

In [43]:
'''24. Multiply all elements in a list by 2.'''
l1=input("Enter the elements using space: ").split()
print(l1*2)

Enter the elements using space:  sandeep mondal 123 12 111

['sandeep', 'mondal', '123', '12', '111', 'sandeep', 'mondal', '123', '12', '111']

In [45]:
'''25. Filter out all even numbers from a list.'''
l=list(map(int,input("Enter numbers: ").split()))
ans=list(filter(lambda x:x%2==0,l))
print(ans)

Enter numbers:  1 2 3 4 5 6 7 8 9 10

[2, 4, 6, 8, 10]

In [ ]:
'''26. Convert a list of strings to a list of integers.'''
l=list(map(int,input("Enter numbers: ").split()))
print(l)

In [ ]:
'''27. Convert a list of integer to a list of string.'''
l=input("Enter numbers: ").split()
print(l)

In [ ]:
'''28. Flatten a nested list.'''
def flatten(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten(item))  # Recursively flatten the sublist
        else:
            flat_list.append(item)  # Add non-list items directly to the flat list
    return flat_list
user_input = input("Enter a nested list (e.g., [1, [2, 3], [4, [5, 6], 7]]): ")
try:
    nested_list = eval(user_input)
    if not isinstance(nested_list, list):
        raise ValueError("Input is not a valid list.")
    flat_list = flatten(nested_list)
    print("Flattened list:", flat_list)
except Exception as e:
    print(f"Invalid input: {e}")

In [52]:
'''29. Create a list of the first 10 Fibonacci numbers.'''
l1,l2=0,1
ans=[]
for i in range(1,11):
    ans.append(l1)
    l1=l2+l1
    l1,l2=l2,l1
print(ans)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [61]:
'''30. Check if a list is sorted.'''
l = list(map(int, input("Enter numbers: ").split()))
c = 0
for i in range(len(l) - 1): 
    if l[i] > l[i + 1]:  
        c = 1
        break  
if c == 0:
    print("Sorted")
else:
    print("Not sorted")

Enter numbers:   11 22 11

Not sorted

In [2]:
'''31. Rotate a list to the left by `n` positions.'''
l=list(map(int,input("Enter numbers: ").split()))
n=int(input("Enter the index: "))
ans=[]
for i in range(n,len(l)):
    ans.append(l[i])
for i in range(0,n):
    ans.append(l[i])
print(ans)

Enter numbers:  1 2 3 4 5 6 7 8 9
Enter the index:  5

[6, 7, 8, 9, 1, 2, 3, 4, 5]

In [5]:
'''32. Rotate a list to the right by `n` positions.'''
l=list(map(int,input("Enter numbers: ").split()))
n=int(input("Enter the index: "))
ans=[]
for i in range(n,len(l)):
    ans.append(l[i])
for i in range(0,n):
    ans.append(l[i])
print(ans)

Enter numbers:  6 7 8 9 1 2 3 4 5
Enter the index:  4

[6, 7, 8, 9, 1, 2, 3, 4, 5]

In [7]:
'''33. Create a list of prime numbers up to 50.'''
l = []
from math import sqrt as sq
for i in range(2, 51):
    is_prime = True
    for j in range(2, int(sq(i)) + 1):
        if i % j == 0:
            is_prime = False
            break
    if is_prime:
        l.append(i)
print(l)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [11]:
'''34. Split a list into chunks of size `n`.'''
def split_list(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]
my_list = input("Enter: ").split()
n = int(input("Enter the size: "))
chunks = split_list(my_list, n)
print(chunks)

Enter:  a b c d e f g h i j k l m n o
Enter the size:  3

[['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i'], ['j', 'k', 'l'], ['m', 'n', 'o']]

In [14]:
'''35. Find the second largest number in a list.'''
l=list(map(int,input("Enter numbers: ").split()))
s_l=sorted(l)
print(s_l[1])

Enter numbers:  5 4 1 2 3

2

In [16]:
'''36. Replace every element in a list with its square.'''
l=list(map(int,input("Enter numbers: ").split()))
ans=lambda x:[x**2 for x in l]
print(ans(l))

Enter numbers:  1 2 3 4 5

[1, 4, 9, 16, 25]

In [19]:
'''37. Convert a list to a dictionary where list elements become keys and their
indices become values.'''
l=list(map(int,input("Enter numbers: ").split()))
dic={}
for i in range(0,len(l)):
    dic[l[i]]=i
print(dic)

Enter numbers:  1 2 3 4 5 6 7 8 9

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8}

In [23]:
'''38. Shuffle the elements of a list randomly.'''
l=input("Enter: ").split()
import random
random.shuffle(l)
print(l)

Enter:  1 2 3 4 5

['1', '3', '4', '2', '5']

In [25]:
'''39. Create a list of the first 10 factorial numbers.'''
import math as m
l=[]
for i in range(0,11):
    l.append(m.factorial(i))
print(l)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [27]:
'''40. Check if two lists have at least one element in common.'''
l=input("Enter list 1: ").split()
l2=input("Enter list 2: ").split()
L1,L2=set(l),set(l2)
s=list(L1.intersection(L2))
if (len(s)>0):
    print("Common element exists,these are: ",s)
else:
    print("Common element does not exist")

Enter list 1:  Sandeep 1 2 3 4 5
Enter list 2:  Sandeep 4 5 6 7 8

Common element exists,these are:  ['4', 'Sandeep', '5']

In [28]:
'''41. Remove all elements from a list.'''
l=input("Enter list : ").split()
l.clear()
print(l)

Enter list :  1 2 3 4 5

[]

In [30]:
'''42. Replace negative numbers in a list with 0.'''
l=list(map(int,input("Enter numbers: ").split()))
for i in range(0,len(l)):
    if l[i]<0:
        l[i]=0
print(l)

Enter numbers:  1 2 3 4 -1 -2 -3 -4 5 6

[1, 2, 3, 4, 0, 0, 0, 0, 5, 6]

In [33]:
'''43. Convert a string into a list of words.'''
my_string = input("Enter: ")
words_list = my_string.split()
print(words_list)

Enter:  Sandeep Mondal Ricky SUman

['Sandeep', 'Mondal', 'Ricky', 'SUman']

In [36]:
'''44. Convert a list of words into a string.'''
l = input("Enter the list of word using space : ").split(",")
ans = " ".join(l)
print(ans)

Enter the list of word using space :  SAndeep,12,Ricky,India

SAndeep 12 Ricky India

In [41]:
'''45. Create a list of the first `n` powers of 2.'''
n=int(input("Enter the last element: "))
ans=lambda x:[x**2 for x in range(0,n+1)]
print(ans(n))

Enter the last element:  9

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [52]:
'''46. Find the longest string in a list of strings.'''
l = input("Enter the list of word using space : ").split()
size=len(max(l,key=len))
l1=[]
for i in range(0,len(l)):
    if len(l[i])==size:
        l1.append(l[i])
print(l1)

Enter the list of word using space :  Sandeep mondal 1234 ricky

['Sandeep']

In [53]:
'''47. Find the shortest string in a list of strings.'''
l = input("Enter the list of word using space : ").split()
size=len(min(l,key=len))
l1=[]
for i in range(0,len(l)):
    if len(l[i])==size:
        l1.append(l[i])
print(l1)

Enter the list of word using space :  Sandeep mondal 1234 ricky abc 123 abcd Ricky

['abc', '123']

In [55]:
'''48. Create a list of the first `n` triangular numbers.'''
n=int(input("Enter the number of term: "))
l=[]
for i in range(1,n+1):
    ans=i*(i+1)//2
    l.append(ans)
print(l)

Enter the number of term:  6

[1, 3, 6, 10, 15, 21]

In [56]:
'''49. Check if a list contains another list as a subsequence.'''
def is_subsequence(lst, sub_lst):
    it = iter(lst)
    return all(elem in it for elem in sub_lst)
main_list = list(map(int,input("Enter list 1 using space: ").split()))
sub_list = list(map(int,input("Enter list 2 using space: ").split()))
result = is_subsequence(main_list, sub_list)
print("The sub_list is a subsequence of the main_list." if result else "The sub_list is not a subsequence of the main_list.")

Enter list 1 using space:  1 2 3 4 5
Enter list 2 using space:  2 3

The sub_list is a subsequence of the main_list.

In [57]:
'''50. Swap two elements in a list by their indices.'''
l = list(map(int,input("Enter list using space: ").split()))
n1,n2 = list(map(int,input("Enter the indices of the elements to be swapped: ").split()))
print("Before swapping: ",l)
l[n1],l[n2]=l[n2],l[n1]
print("After swapping: ",l)

Enter list using space:  1 2 3 4 5 7 6 8 9
Enter the indices of the elements to be swapped:  5 6

Before swapping:  [1, 2, 3, 4, 5, 7, 6, 8, 9]
After swapping:  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Tuple Based Practice Problem :

In [58]:
'''1. Create a tuple with integers from 1 to 5.'''
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [59]:
'''2. Access the third element of a tuple.'''
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[3])

4

In [60]:
'''3. Find the length of a tuple without using the `len()` function.'''
my_tuple = (1, 2, 3, 4, 5)
count=0
for i in my_tuple:
    count+=1
print("Length: ",count)

Length:  5

In [78]:
'''4. Count the occurrences of an element in a tuple.'''
my_tuple = (1, 2, 3, 4, 5)
c = int(input("Enter the elemnet: "))
print(f"Occurance of {c}:{my_tuple.count(c)}")

Enter the elemnet:  2

Occurance of 2:1

In [73]:
'''5. Find the index of the first occurrence of an element in a tuple.'''
t = (1, 2, 3, 4, 5)
try:
    c = int(input("Enter the element: "))
    index = t.index(c)
    print(f"First occurrence of {c}: {index}")
except ValueError:
    print("Element not found in the tuple.")

Enter the element:  4

First occurrence of 4: 3

In [80]:
'''6. Check if an element exists in a tuple.'''
my_tuple = (1, 2, 3, 4, 5)
c = int(input("Enter the elemnet: "))
cc = my_tuple.count(c)
if cc == 0:
    print("Not present")
else:
    print("Present")

Enter the elemnet:  2

Present

In [81]:
'''7. Convert a tuple to a list.'''
t = (1, 2, 3, 4, 5)
l = list(t)
print(l)

[1, 2, 3, 4, 5]

In [82]:
'''8. Convert a list to a tuple.'''
t = [1, 2, 3, 4, 5]
l = tuple(t)
print(l)

(1, 2, 3, 4, 5)

In [83]:
'''9. Unpack the elements of a tuple into variables.'''
t=(1,2,3,4,5)
a,b,c,d,e = t
print(a,b,c,d,e)

1 2 3 4 5

In [90]:
'''10. Create a tuple of even numbers from 1 to 10.'''
l=[]
for i in range(2,11,2):
    l.append(i)
t=tuple(l)
print(t)

(2, 4, 6, 8, 10)

In [91]:
'''11. Create a tuple of odd numbers from 1 to 10.'''
l=[]
for i in range(1,11,2):
    l.append(i)
t=tuple(l)
print(t)

(1, 3, 5, 7, 9)

In [92]:
'''12. Concatenate two tuples.'''
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [93]:
'''13. Repeat a tuple three times.'''
t = (1,2,3,4,5)
print(t*3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [94]:
'''14. Check if a tuple is empty.'''
t = (1,2,3,4,5)
if len(t)>0:
    print("Not empty")
else:
    print("Empty")

Not empty

In [95]:
'''15. Create a nested tuple.'''
nested_tuple = (1, 2, (3, 4), (5, 6, (7, 8)))
print(nested_tuple)

(1, 2, (3, 4), (5, 6, (7, 8)))

In [96]:
'''16. Access the first element of a nested tuple.'''
nested_tuple = (1, 2, (3, 4), (5, 6, (7, 8)))
print(nested_tuple[0])

1

In [97]:
'''17. Create a tuple with a single element.'''
t = (5)
print(t)

5

In [98]:
'''18. Compare two tuples.'''
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
result = tuple1 == tuple2
print(result)

False

In [101]:
'''19. Delete a tuple.'''
t = (1, 2, 3, 4, 5)
del t

(1, 2, 3, 4, 5)

In [103]:
'''20. Slice a tuple.'''
t = (1, 2, 3, 4, 5)
l,u = list(map(int,input("Enter slice lower and upper limit using space: ").split()))
slc = t[l:u]
print(slc)

Enter slice lower and upper limit using space:  1 4

(2, 3, 4)

In [104]:
'''21. Find the maximum value in a tuple.'''
t=(1,2,3,4,5,6,7,8,9,10)
print(max(t))

10

In [105]:
'''21. Find the minimum value in a tuple.'''
t=(1,2,3,4,5,6,7,8,9,10)
print(min(t))

1

In [106]:
'''23. Convert a string to a tuple of characters.'''
st = input("Enter the string: ")
l = []
for i in st:
    l.append(i)
t=tuple(l)
print(t)

Enter the string:  Sandeep

('S', 'a', 'n', 'd', 'e', 'e', 'p')

In [110]:
'''24. Convert a tuple of characters to a string.'''
ch = input("Enter the characters using comma(,): ").split(",")
t=tuple(ch)
st = str("".join(ch))
print(st)

Enter the characters using comma(,):  qwer,noitc

qwernoitc

In [111]:
'''25. Create a tuple from multiple data types.'''
my_tuple = ("Hello", 123, 3.14, True, ["apple", "banana", "orange"])
print(my_tuple)

('Hello', 123, 3.14, True, ['apple', 'banana', 'orange'])

In [ ]:
'''
26. Check if two tuples are identical.
'''
tuple1 = tuple(input("Enter the first tuple elements separated by commas: ").split(','))
tuple2 = tuple(input("Enter the second tuple elements separated by commas: ").split(','))
are_identical = tuple1 == tuple2
print("Are tuples identical:", are_identical)

In [ ]:
'''
27. Sort the elements of a tuple.
'''
tuple1 = tuple(input("Enter the tuple elements separated by commas: ").split(','))
sorted_tuple = tuple(sorted(tuple1))
print("Sorted Tuple:", sorted_tuple)

In [ ]:
'''
28. Convert a tuple of integers to a tuple of strings.
'''
tuple1 = tuple(map(int, input("Enter the tuple of integers separated by commas: ").split(',')))
string_tuple = tuple(map(str, tuple1))
print("Tuple of Strings:", string_tuple)

In [ ]:
'''
29. Convert a tuple of strings to a tuple of integers.
'''
tuple1 = tuple(input("Enter the tuple of strings separated by commas: ").split(','))
integer_tuple = tuple(map(int, tuple1))
print("Tuple of Integers:", integer_tuple)

In [ ]:
'''
30. Merge two tuples.
'''
tuple1 = tuple(input("Enter the first tuple elements separated by commas: ").split(','))
tuple2 = tuple(input("Enter the second tuple elements separated by commas: ").split(','))
merged_tuple = tuple1 + tuple2
print("Merged Tuple:", merged_tuple)

In [2]:
'''
31. Flatten a nested tuple.
'''
nested_tuple = eval(input("Enter a nested tuple (e.g., ((1, 2), (3, 4)): "))
flattened_tuple = tuple(item for sublist in nested_tuple for item in sublist)
print("Flattened Tuple:", flattened_tuple)

Enter a nested tuple (e.g., ((1, 2), (3, 4)):  ((1,2,3),(4,5,6))

Flattened Tuple: (1, 2, 3, 4, 5, 6)

In [ ]:
'''
32. Create a tuple of the first 5 prime numbers.
'''
prime_tuple = (2, 3, 5, 7, 11)
print("Tuple of First 5 Primes:", prime_tuple)

In [ ]:
'''
33. Check if a tuple is a palindrome.
'''
tuple1 = tuple(input("Enter the tuple elements separated by commas: ").split(','))
is_palindrome = tuple1 == tuple1[::-1]
print("Is Palindrome:", is_palindrome)

In [3]:
'''
34. Create a tuple of squares of numbers from 1 to 5.
'''
square_tuple = tuple(x**2 for x in range(1, 6))
print("Tuple of Squares from 1 to 5:", square_tuple)

Tuple of Squares from 1 to 5: (1, 4, 9, 16, 25)

In [4]:
'''
35. Filter out all even numbers from a tuple.
'''
tuple1 = tuple(map(int, input("Enter the tuple elements separated by commas: ").split(',')))
filtered_tuple = tuple(x for x in tuple1 if x % 2 != 0)
print("Filtered Tuple (No Evens):", filtered_tuple)

Enter the tuple elements separated by commas:  1,2,3

Filtered Tuple (No Evens): (1, 3)

In [ ]:
'''
36. Multiply all elements in a tuple by 2.
'''
tuple1 = tuple(map(int, input("Enter the tuple elements separated by commas: ").split(',')))
multiplied_tuple = tuple(x * 2 for x in tuple1)
print("Multiplied Tuple:", multiplied_tuple)

In [ ]:
'''
37. Create a tuple of random numbers.
'''
import random
n = int(input("Enter the number of random elements: "))
random_tuple = tuple(random.randint(1, 100) for _ in range(n))
print("Tuple of Random Numbers:", random_tuple)

In [ ]:
'''
38. Check if a tuple is sorted.
'''
tuple1 = tuple(map(int, input("Enter the tuple elements separated by commas: ").split(',')))
is_sorted = tuple1 == tuple(sorted(tuple1))
print("Is Tuple Sorted:", is_sorted)

In [ ]:
'''
39. Rotate a tuple to the left by `n` positions.
'''
tuple1 = tuple(input("Enter the tuple elements separated by commas: ").split(','))
n = int(input("Enter the number of positions to rotate left: "))
rotated_tuple = tuple1[n:] + tuple1[:n]
print("Rotated Tuple (Left):", rotated_tuple)

In [ ]:
'''
40. Rotate a tuple to the right by `n` positions.
'''
tuple1 = tuple(input("Enter the tuple elements separated by commas: ").split(','))
n = int(input("Enter the number of positions to rotate right: "))
rotated_tuple = tuple1[-n:] + tuple1[:-n]
print("Rotated Tuple (Right):", rotated_tuple)

In [ ]:
'''
41. Create a tuple of the first 5 Fibonacci numbers.
'''
fibonacci_tuple = (0, 1, 1, 2, 3)
print("Tuple of First 5 Fibonacci Numbers:", fibonacci_tuple)

In [ ]:
'''
42. Create a tuple from user input.
'''
user_tuple = tuple(input("Enter the tuple elements separated by commas: ").split(','))
print("User-Input Tuple:", user_tuple)

In [ ]:
'''
43. Swap two elements in a tuple.
'''
tuple1 = tuple(input("Enter the tuple elements separated by commas: ").split(','))
i, j = map(int, input("Enter two indices to swap (comma-separated): ").split(','))
tuple_list = list(tuple1)
tuple_list[i], tuple_list[j] = tuple_list[j], tuple_list[i]
swapped_tuple = tuple(tuple_list)
print("Swapped Tuple:", swapped_tuple)

In [ ]:
'''
44. Reverse the elements of a tuple.
'''
tuple1 = tuple(input("Enter the tuple elements separated by commas: ").split(','))
reversed_tuple = tuple1[::-1]
print("Reversed Tuple:", reversed_tuple)

In [ ]:
'''
45. Create a tuple of the first `n` powers of 2.
'''
n = int(input("Enter the number of powers of 2: "))
powers_of_2_tuple = tuple(2**x for x in range(n))
print("Tuple of First", n, "Powers of 2:", powers_of_2_tuple)

In [ ]:
'''
46. Find the longest string in a tuple of strings.
'''
tuple1 = tuple(input("Enter the tuple of strings separated by commas: ").split(','))
longest_string = max(tuple1, key=len)
print("Longest String:", longest_string)

In [ ]:
'''
47. Find the shortest string in a tuple of strings.
'''
tuple1 = tuple(input("Enter the tuple of strings separated by commas: ").split(','))
shortest_string = min(tuple1, key=len)
print("Shortest String:", shortest_string)

In [ ]:
'''
48. Create a tuple of the first `n` triangular numbers.
'''
n = int(input("Enter the number of triangular numbers: "))
triangular_tuple = tuple(int(x*(x+1)/2) for x in range(1, n+1))
print("Tuple of First", n, "Triangular Numbers:", triangular_tuple)

In [ ]:
'''
49. Check if a tuple contains another tuple as a subsequence.
'''
tuple1 = tuple(input("Enter the main tuple elements separated by commas: ").split(','))
sub_tuple = tuple(input("Enter the sub-tuple elements separated by commas: ").split(','))
is_subsequence = any(tuple1[i:i+len(sub_tuple)] == sub_tuple for i in range(len(tuple1) - len(sub_tuple) + 1))
print("Is Sub-tuple a Subsequence:", is_subsequence)

In [ ]:
'''
50. Create a tuple of alternating 1s and 0s of length `n`.
'''
n = int(input("Enter the length of the tuple: "))
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))
print("Alternating Tuple:", alternating_tuple)

In [ ]:
#Set Based Practice Problem

In [ ]:
'''
1. Create a set with integers from 1 to 5.
'''
set1 = {1, 2, 3, 4, 5}
print("Set:", set1)

In [ ]:
'''
2. Add an element to a set.
'''
set1 = set(map(int, input("Enter the set elements separated by commas: ").split(',')))
element = int(input("Enter an element to add: "))
set1.add(element)
print("Set after adding:", set1)

In [ ]:
'''
3. Remove an element from a set.
'''
set1 = set(map(int, input("Enter the set elements separated by commas: ").split(',')))
element = int(input("Enter an element to remove: "))
set1.discard(element)
print("Set after removing:", set1)

In [ ]:
'''
4. Check if an element exists in a set.
'''
set1 = set(map(int, input("Enter the set elements separated by commas: ").split(',')))
element = int(input("Enter an element to check: "))
exists = element in set1
print("Element exists:", exists)

In [ ]:
'''
5. Find the length of a set without using the `len()` function.
'''
set1 = set(map(int, input("Enter the set elements separated by commas: ").split(',')))
length = sum(1 for _ in set1)
print("Length of the set:", length)

In [ ]:
'''
6. Clear all elements from a set.
'''
set1 = set(map(int, input("Enter the set elements separated by commas: ").split(',')))
set1.clear()
print("Set after clearing:", set1)

In [ ]:
'''
7. Create a set of even numbers from 1 to 10.
'''
even_set = {x for x in range(1, 11) if x % 2 == 0}
print("Set of even numbers:", even_set)

In [ ]:
'''
8. Create a set of odd numbers from 1 to 10.
'''
odd_set = {x for x in range(1, 11) if x % 2 != 0}
print("Set of odd numbers:", odd_set)

In [ ]:
'''
9. Find the union of two sets.
'''
set1 = set(map(int, input("Enter the first set elements separated by commas: ").split(',')))
set2 = set(map(int, input("Enter the second set elements separated by commas: ").split(',')))
union_set = set1.union(set2)
print("Union of sets:", union_set)

In [ ]:
'''
10. Find the intersection of two sets.
'''
set1 = set(map(int, input("Enter the first set elements separated by commas: ").split(',')))
set2 = set(map(int, input("Enter the second set elements separated by commas: ").split(',')))
intersection_set = set1.intersection(set2)
print("Intersection of sets:", intersection_set)

In [ ]:
'''
11. Find the difference between two sets.
'''
set1 = set(map(int, input("Enter the first set elements separated by commas: ").split(',')))
set2 = set(map(int, input("Enter the second set elements separated by commas: ").split(',')))
difference_set = set1.difference(set2)
print("Difference of sets:", difference_set)

In [ ]:
'''
12. Check if a set is a subset of another set.
'''
set1 = set(map(int, input("Enter the first set elements separated by commas: ").split(',')))
set2 = set(map(int, input("Enter the second set elements separated by commas: ").split(',')))
is_subset = set1.issubset(set2)
print("Is the first set a subset of the second:", is_subset)

In [ ]:
'''
13. Check if a set is a superset of another set.
'''
set1 = set(map(int, input("Enter the first set elements separated by commas: ").split(',')))
set2 = set(map(int, input("Enter the second set elements separated by commas: ").split(',')))
is_superset = set1.issuperset(set2)
print("Is the first set a superset of the second:", is_superset)

In [ ]:
'''
14. Create a set from a list.
'''
lst = list(map(int, input("Enter the list elements separated by commas: ").split(',')))
set_from_list = set(lst)
print("Set from list:", set_from_list)

In [ ]:
'''
15. Convert a set to a list.
'''
set1 = set(map(int, input("Enter the set elements separated by commas: ").split(',')))
list_from_set = list(set1)
print("List from set:", list_from_set)

In [ ]:
'''
16. Remove a random element from a set.
'''
import random
set1 = set(map(int, input("Enter the set elements separated by commas: ").split(',')))
if set1:
    random_element = random.choice(tuple(set1))
    set1.remove(random_element)
print("Set after removing a random element:", set1)

In [ ]:
'''
17. Pop an element from a set.
'''
set1 = set(map(int, input("Enter the set elements separated by commas: ").split(',')))
if set1:
    popped_element = set1.pop()
    print("Popped Element:", popped_element)
print("Set after popping an element:", set1)

In [ ]:
'''
18. Check if two sets have no elements in common.
'''
set1 = set(map(int, input("Enter the first set elements separated by commas: ").split(',')))
set2 = set(map(int, input("Enter the second set elements separated by commas: ").split(',')))
no_common_elements = set1.isdisjoint(set2)
print("Do the sets have no elements in common:", no_common_elements)

In [ ]:
'''
19. Find the symmetric difference between two sets.
'''
set1 = set(map(int, input("Enter the first set elements separated by commas: ").split(',')))
set2 = set(map(int, input("Enter the second set elements separated by commas: ").split(',')))
symmetric_difference = set1.symmetric_difference(set2)
print("Symmetric Difference:", symmetric_difference)

In [ ]:
'''
20. Update a set with elements from another set.
'''
set1 = set(map(int, input("Enter the first set elements separated by commas: ").split(',')))
set2 = set(map(int, input("Enter the second set elements separated by commas: ").split(',')))
set1.update(set2)
print("Updated Set:", set1)

In [ ]:
'''
21. Create a set of the first 5 prime numbers.
'''
prime_set = {2, 3, 5, 7, 11}
print("Set of First 5 Prime Numbers:", prime_set)

In [ ]:
'''
22. Check if two sets are identical.
'''
set1 = set(map(int, input("Enter the first set elements separated by commas: ").split(',')))
set2 = set(map(int, input("Enter the second set elements separated by commas: ").split(',')))
identical = set1 == set2
print("Are sets identical:", identical)

In [ ]:
'''
23. Create a frozen set.
'''
frozen_set = frozenset(map(int, input("Enter the elements of the frozen set separated by commas: ").split(',')))
print("Frozen Set:", frozen_set)

In [ ]:
'''
24. Check if a set is disjoint with another set.
'''
set1 = set(map(int, input("Enter the first set elements separated by commas: ").split(',')))
set2 = set(map(int, input("Enter the second set elements separated by commas: ").split(',')))
is_disjoint = set1.isdisjoint(set2)
print("Is the set disjoint with the other set:", is_disjoint)

In [ ]:
'''
25. Create a set of squares of numbers from 1 to 5.
'''
squares_set = {x**2 for x in range(1, 6)}
print("Set of squares from 1 to 5:", squares_set)

In [ ]:
'''
26. Filter out all even numbers from a set.
'''
set1 = set(map(int, input("Enter the set elements separated by commas: ").split(',')))
filtered_set = {x for x in set1 if x % 2 != 0}
print("Set after filtering out even numbers:", filtered_set)

In [ ]:
'''
27. Multiply all elements in a set by 2.
'''
set1 = set(map(int, input("Enter the set elements separated by commas: ").split(',')))
multiplied_set = {x * 2 for x in set1}
print("Set after multiplying all elements by 2:", multiplied_set)

In [ ]:
'''
28. Create a set of random numbers.
'''
import random
n = int(input("Enter the number of random elements: "))
random_set = {random.randint(1, 100) for _ in range(n)}
print("Set of Random Numbers:", random_set)

In [ ]:
'''
29. Check if a set is empty.
'''
set1 = set(map(int, input("Enter the set elements separated by commas: ").split(',')))
is_empty = not set1
print("Is the set empty:", is_empty)

In [ ]:
'''
30. Create a nested set (hint: use frozenset).
'''
nested_set = frozenset({1, 2, 3})
outer_set = {nested_set, frozenset({4, 5})}
print("Nested Set:", outer_set)

In [ ]:
'''
31. Remove an element from a set using the discard method.
'''
set1 = set(map(int, input("Enter the set elements separated by commas: ").split(',')))
element = int(input("Enter an element to discard: "))
set1.discard(element)
print("Set after discarding the element:", set1)

In [ ]:
'''
32. Compare two sets.
'''
set1 = set(map(int, input("Enter the first set elements separated by commas: ").split(',')))
set2 = set(map(int, input("Enter the second set elements separated by commas: ").split(',')))
print("Set1:", set1)
print("Set2:", set2)

In [ ]:
'''
33. Create a set from a string.
'''
string = input("Enter a string: ")
set_from_string = set(string)
print("Set from string:", set_from_string)

In [ ]:
'''
34. Convert a set of strings to a set of integers.
'''
string_set = set(input("Enter the set of strings separated by commas: ").split(','))
int_set = set(map(int, string_set))
print("Set of integers:", int_set)

In [ ]:
'''
35. Convert a set of integers to a set of strings.
'''
int_set = set(map(int, input("Enter the set of integers separated by commas: ").split(',')))
string_set = set(map(str, int_set))
print("Set of strings:", string_set)

In [ ]:
'''
36. Create a set from a tuple.
'''
tuple1 = tuple(map(int, input("Enter the tuple elements separated by commas: ").split(',')))
set_from_tuple = set(tuple1)
print("Set from tuple:", set_from_tuple)

In [ ]:
'''
37. Convert a set to a tuple.
'''
set1 = set(map(int, input("Enter the set elements separated by commas: ").split(',')))
tuple_from_set = tuple(set1)
print("Tuple from set:", tuple_from_set)

In [ ]:
'''
38. Find the maximum value in a set.
'''
set1 = set(map(int, input("Enter the set elements separated by commas: ").split(',')))
max_value = max(set1) if set1 else None
print("Maximum value in the set:", max_value)

In [ ]:
'''
39. Find the minimum value in a set.
'''
set1 = set(map(int, input("Enter the set elements separated by commas: ").split(',')))
min_value = min(set1) if set1 else None
print("Minimum value in the set:", min_value)

In [ ]:
'''
40. Create a set from user input.
'''
user_set = set(map(int, input("Enter the set elements separated by commas: ").split(',')))
print("User-created set:", user_set)

In [ ]:
'''
41. Check if the intersection of two sets is empty.
'''
set1 = set(map(int, input("Enter the first set elements separated by commas: ").split(',')))
set2 = set(map(int, input("Enter the second set elements separated by commas: ").split(',')))
intersection_empty = set1.isdisjoint(set2)
print("Is the intersection empty:", intersection_empty)

In [ ]:
'''
42. Create a set of the first 5 Fibonacci numbers.
'''
a, b = 0, 1
fibonacci_set = {a, b}
for _ in range(3):
    a, b = b, a + b
    fibonacci_set.add(b)
print("Set of First 5 Fibonacci Numbers:", fibonacci_set)

In [ ]:
'''
43. Remove duplicates from a list using sets.
'''
lst = list(map(int, input("Enter the list elements separated by commas: ").split(',')))
unique_set = set(lst)
print("List after removing duplicates:", list(unique_set))

In [ ]:
'''
44. Check if two sets have the same elements, regardless of their count.
'''
set1 = set(map(int, input("Enter the first set elements separated by commas: ").split(',')))
set2 = set(map(int, input("Enter the second set elements separated by commas: ").split(',')))
same_elements = set1 == set2
print("Do the sets have the same elements:", same_elements)

In [ ]:
'''
45. Create a set of the first `n` powers of 2.
'''
n = int(input("Enter the number of powers of 2: "))
powers_of_2_set = {2**x for x in range(n)}
print("Set of First", n, "Powers of 2:", powers_of_2_set)

In [ ]:
'''
46. Find the common elements between a set and a list.
'''
set1 = set(map(int, input("Enter the set elements separated by commas: ").split(',')))
lst = list(map(int, input("Enter the list elements separated by commas: ").split(',')))
common_elements = set1.intersection(lst)
print("Common elements between set and list:", common_elements)

In [ ]:
'''
47. Create a set of the first `n` triangular numbers.
'''
n = int(input("Enter the number of triangular numbers: "))
triangular_set = {x * (x + 1) // 2 for x in range(1, n + 1)}
print("Set of First", n, "Triangular Numbers:", triangular_set)

In [ ]:
'''
48. Check if a set contains another set as a subset.
'''
set1 = set(map(int, input("Enter the main set elements separated by commas: ").split(',')))
subset = set(map(int, input("Enter the subset elements separated by commas: ").split(',')))
contains_subset = subset.issubset(set1)
print("Does the main set contain the subset:", contains_subset)

In [ ]:
'''
49. Create a set of alternating 1s and 0s of length `n`.
'''
n = int(input("Enter the length of the set: "))
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
print("Set of alternating 1s and 0s:", alternating_set)

In [ ]:
'''
50. Merge multiple sets into one.
'''
num_sets = int(input("Enter the number of sets to merge: "))
merged_set = set()
for _ in range(num_sets):
    current_set = set(map(int, input("Enter the set elements separated by commas: ").split(',')))
    merged_set.update(current_set)
print("Merged Set:", merged_set)